/* Fonte usada no projeto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Fundo do projeto */
body {
    background-color: #021827;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #cfe9ff;
}

/* Caixa */
.approved-box {
    background: #041a33;
    padding: 40px;
    width: 380px;
    text-align: center;
    border-radius: 14px;
    border: 2px solid #0b6bd6;
    box-shadow: 0 0 18px #0b6bd677;
}

/* Check verde */
.checkmark {
    font-size: 60px;
    color: #00ff7f;
    margin-bottom: 12px;
    text-shadow: 0 0 8px #00ff7faa;
}

/* Título */
.approved-box h1 {
    font-size: 26px;
    color: #0b6bd6;
    margin-bottom: 10px;
}

/* Texto */
.approved-box p {
    font-size: 16px;
}

/* Informação menor */
.info {
    opacity: 0.8;
    margin-bottom: 25px;
}

/* Botão */
.btn-voltar {
    display: inline-block;
    padding: 12px 18px;
    background: #0b6bd6;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid #1e2f8f;
    transition: 0.3s;
    font-size: 16px;
}

.btn-voltar:hover {
    background: #094d94;
}